---
import Login from '../components/Login.tsx';
import { useState } from 'react';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login | Sports Odds</title>
  </head>
  <body class="bg-gray-100">
    <Login client:load />

  </body>
</html>
